<p class="color-primary">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by <a
    href="https://ortiz.studio">Antonio Ortiz</a
  >.
</p>
