<p class="text-center text-wrap text-step-0 md:text-accent">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
  Coded by <a href="https://ortiz.studio">Antonio Ortiz</a>.
</p>

<style>
  a {
    @apply focus:pa-1 focus:color-primary focus:decoration-none focus:outline-base
    focus:outline-offset-1 hover:color-primary hover:decoration-underline;
  }
</style>
