---
import coverDesktop from '../assets/images/illustration-sign-up-desktop.svg'
import coverMobile from '../assets/images/illustration-sign-up-mobile.svg'
import Subscribe from './Subscribe.astro'
---

<div class="max-w-screen bg-accent md:grid md:grid-cols-[1.2fr_1fr] md:rounded-3xl">
  <picture class="self-center md:order-2">
    <source media="(min-width: 768px)" srcset={coverDesktop.src}>
    <img src={coverMobile.src} alt="" class="h-auto w-full object-cover md:h-lg md:rounded-3xl md:pa-sm" />
  </picture>
  <div class="w-full self-center pa-sm">
    <h1>Stay updated!</h1>

    <p>Join 60,000+ product managers receiving monthly updates on:</p>

    <ul class="flow">
      <li>Product discovery and building what matters</li>
      <li>Measuring to ensure updates are a success</li>
      <li>And much more!</li>
    </ul>

    <Subscribe />

  </div>
</div>

<style>
  ul {
    list-style-image:url('../assets/images/icon-success.svg');
  }
   li {
    @apply: relative pl-2;
  }
</style>
