<script>
  const success = document.getElementById("success") as HTMLDialogElement;
  const form = document.getElementById("subscribe");
  const submitBtn = document.getElementById("submit") as HTMLButtonElement;

  form?.addEventListener("submit", (event) => {
    event.preventDefault();
    submitBtn.setAttribute('aria-expanded', 'true')
    success.showModal();
  });
</script>

<form action="#" class="subscribe flow" id="subscribe">
    <label for="email">Email address</label>
    <input type="email" name="email" id="email" placeholder="email@company.com" />
    <input
      type="submit"
      value="Subscribe to monthly newsletter"
      aria-expanded="false"
      id="submit"
    />
</form>

<style>

  label {
    @apply font-bold block;
  }
  input[type=email] {
    @apply pa-xs block rounded-lg w-full text-step-0 border-solid border-base-light
    focus:outline-base focus:outline-offset-6;
    box-shadow: none;
  }

</style>
