---
import check from '../assets/images/icon-success.svg'
---

<dialog id="success">
  <img src={check.src} alt="" />
  <h1>Thanks for subscribing!</h1>
  <p>
    A confirmation email has been sent to ash@loremcompany.com. Please open it and click the button inside to confirm
    your subscription.
  </p>
  <button> Dismiss message</button>
</dialog>
