---
import check from '../assets/images/icon-success.svg'
---

<script>
  const success = document.querySelector('#success') as HTMLDialogElement
  const btnDismiss = document.querySelector('#dismiss') as HTMLButtonElement
  const submitBtn = document.getElementById('submit') as HTMLButtonElement

  btnDismiss.addEventListener('click', (event) => {
    success.close()
    submitBtn.setAttribute('aria-expanded', 'false')
  })
</script>

<dialog
  id="success"
  aria-modal="true"
  aria-labelledby="dialogTitle"
  aria-describedby="dialogDescription"
  class="success"
>
  <div class="success__wrapper">
    <div class="sucess__wrapper--content">
      <img src={check.src} alt="" width="50" height="50" />
      <h1 id="dialogTitle">Thanks for subscribing!</h1>
      <p id="dialogDescription">
        A confirmation email has been sent to <b>ash@loremcompany.com</b>. Please open it and click the button inside to
        confirm your subscription.
      </p>
    </div>
    <button id="dismiss" class="success__wrapper--dismiss"> Dismiss message</button>
  </div>
</dialog>

<style is:global>
  .success {
    @apply h-full border-none;
    @apply md:h-md md:w-md md:rounded-3xl;
    /* backdrop:bg-accent md:backdrop:bg-base; */
  }

  .success__wrapper {
    @apply min-h-full flex flex-col justify-between;
  }

  .success__wrapper--content {
    @apply flex-grow flex flex-col items-center text-center;
  }

  .success__wrapper--dismiss {
    @apply mt-auto self-end;
  }
</style>
