---
import { SEO } from 'astro-seo'
import Attribution from '../components/Attribution.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title="Newsletter sign-up form" description="Frontend Mentor | Newsletter sign-up form with success message" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png" />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <footer>
      <Attribution />
    </footer>
  </body>
</html>
