---
import { SEO } from 'astro-seo'
import Attribution from '../components/Attribution.astro'
import Success from '../components/Success.astro'

import '../styles/reset.css'
import '../styles/fonts.css'

import '../styles/variables.css'
import '../styles/compositions/flow.css'
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title="Newsletter sign-up form" description="Frontend Mentor | Newsletter sign-up form with success message" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png" />
  </head>
  <body>
    <div class="wrapper">
      <main>
        <slot />
      </main>
      <footer>
        <Attribution />
      </footer>
    </div>
    <Success />
  </body>
</html>

<style is:global>
  .wrapper {
    @apply grid place-content-center min-h-svh;
  }
  h1 {
    @apply break-words text-step-5 font-bold color-secondary;
  }
  body {
    @apply m-0 md:mt-unset md:bg-base ;
  }
  body,
  dialog {
    @apply text-step-0 color-base font-base font-regular line-height-standart;
  }

  input[type='submit'],
  button {
    @apply pa-m w-full bg-base rounded-lg color-accent
    font-bold text-step-0 text-wrap border-none
    hover:bg-gradient-to-r from-#ff5476 via-primary to-primary
    hover:shadow-lg hover:shadow-primary hover:outline-unset
    focus:outline-base focus:outline-offset-4;
  }
</style>
